<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Add_Product_Grocery_Store</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Grocery Store</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="container py-4 py-xl-5 mx-auto col-xl-3">
            <h1>Add Category</h1>
            <br>
            <form method="POST" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input class="form-control" type="file" name="img" placeholder="Upload Image" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Product Name</label>
                  <input type="text" class="form-control" name="name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <input type="text" class="form-control" name="description">
                </div><div class="mb-3">
                    <label class="form-label">units </label>
                    <input type="number" class="form-control" name="units">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" class="form-control" name="price">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Shelf_life</label>
                    <input type="text" class="form-control" name="shelf_life">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Manufacturer_details</label>
                    <input type="text" class="form-control" name="manufacturer_details">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Fsaai_license</label>
                    <input type="text" class="form-control" name="fsaai_license">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Disclaimer</label>
                    <input type="text" class="form-control" name="disclaimer">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">category_name</label>
                    <input type="text" class="form-control" name="category_n">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">category_id</label>
                    <input type="number" class="form-control" name="category_id">
                  </div>
                <button type="submit" class="btn btn-primary">Add Category</button>
              </form>
        </div>
</body>
</html>